/* pages/center/center.wxss */
.center{
  height: 100%;
  background: #eee;
}

.head{
  height: 300rpx;
  width: 100%;
  position: relative;
  margin-bottom: 20rpx;
}
.bj{
  width: 100%;
  height: 100%;
}
.btn{
  border: none;
  background: none;
  width: 200rpx;
  height: 60rpx;
  font-size: 30rpx;
  line-height: 60rpx;
}
.name{
  position: absolute;
  top: 50rpx;
  left: 290rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.head-img{
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  margin-bottom: 10rpx;
}
.head-name{
  font-size: 35rpx;
}

.list{
  background: white;
  margin-bottom: 20rpx;
}
.list-title{
  padding: 20rpx 30rpx;
  border-bottom: 2rpx solid #eee;
  font-size: 35rpx;
}
.list-item{
  display: flex;
  height: 150rpx;
  justify-content: center;
  align-items: center;
}
.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
  font-size: 25rpx;
}
.icon{
  font-size: 50rpx;
  color: #222;
}