/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 

/**iconfont**/

@font-face {
  font-family: 'iconfont';  /* project id 1020873 */
  src: url('//at.alicdn.com/t/font_1020873_2yfrjvu8z6u.eot');
  src: url('//at.alicdn.com/t/font_1020873_2yfrjvu8z6u.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1020873_2yfrjvu8z6u.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1020873_2yfrjvu8z6u.woff') format('woff'),
  url('//at.alicdn.com/t/font_1020873_2yfrjvu8z6u.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1020873_2yfrjvu8z6u.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daifahuo:before {
  content: "\e600";
}

.icon-pingjia:before {
  content: "\e61e";
}

.icon-dizhi:before {
  content: "\e63e";
}

.icon-yue:before {
  content: "\e647";
}

.icon-youhuiquan:before {
  content: "\e884";
}

.icon-member_icon:before {
  content: "\e671";
}

.icon-daishouhuo:before {
  content: "\e604";
}

.icon-daifukuan:before {
  content: "\e605";
}

.icon-tongzhi:before {
  content: "\e71d";
}

.icon-tubiaozhizuomoban:before {
  content: "\e607";
}

.icon-jifen:before {
  content: "\e616";
}

